<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Theme>default</Theme>
  <PollInterval>200</PollInterval>
  <PortParams>COMn:115200,N,8,1</PortParams>
  <ResetDelay>2000</ResetDelay>
  <UseBuffering>false</UseBuffering>
  <KeepWindowSize>false</KeepWindowSize>
  <WindowWidth>925</WindowWidth>
  <WindowHeight>660</WindowHeight>
  <OutlineFeedRate>500</OutlineFeedRate>
  <MaxBufferSize>300</MaxBufferSize>
  <Editor>notepad.exe</Editor>
  <KeepMdiFocus>true</KeepMdiFocus>
  <FilterOkResponse>false</FilterOkResponse>
  <AutoCompress>false</AutoCompress>
  <SendComments>false</SendComments>
  <AddLineNumbers>false</AddLineNumbers>
  <IgnoreM6>No</IgnoreM6>
  <IgnoreM7>No</IgnoreM7>
  <IgnoreM8>No</IgnoreM8>
  <IgnoreG61G64>Strip</IgnoreG61G64>
  <Macros />
  <Jog>
    <Mode>UI</Mode>
    <KeyboardEnable>false</KeyboardEnable>
    <LinkStepJogToUI>true</LinkStepJogToUI>
    <FastFeedrate>500</FastFeedrate>
    <SlowFeedrate>200</SlowFeedrate>
    <StepFeedrate>100</StepFeedrate>
    <FastDistance>500</FastDistance>
    <SlowDistance>500</SlowDistance>
    <StepDistance>0.05</StepDistance>
  </Jog>
  <JogUiMetric>
    <Feedrate0>5</Feedrate0>
    <Feedrate1>100</Feedrate1>
    <Feedrate2>500</Feedrate2>
    <Feedrate3>1000</Feedrate3>
    <Distance0>0.01</Distance0>
    <Distance1>0.1</Distance1>
    <Distance2>1</Distance2>
    <Distance3>10</Distance3>
  </JogUiMetric>
  <JogUiImperial>
    <Feedrate0>5</Feedrate0>
    <Feedrate1>10</Feedrate1>
    <Feedrate2>50</Feedrate2>
    <Feedrate3>100</Feedrate3>
    <Distance0>0.001</Distance0>
    <Distance1>0.01</Distance1>
    <Distance2>0.1</Distance2>
    <Distance3>1</Distance3>
  </JogUiImperial>
  <Lathe>
    <XMode>Disabled</XMode>
    <ZDirection>Negative</ZDirection>
    <PassDepthLast>0.02</PassDepthLast>
    <FeedRate>300</FeedRate>
  </Lathe>
  <Camera>
    <SelectedCamera />
    <XOffset>0</XOffset>
    <YOffset>0</YOffset>
    <CrosshairPosX>-1</CrosshairPosX>
    <CrosshairPosY>-1</CrosshairPosY>
    <GuideScale>10</GuideScale>
    <InitialMoveToSpindle>false</InitialMoveToSpindle>
    <ConfirmMove>false</ConfirmMove>
    <MoveMode>BothAxes</MoveMode>
  </Camera>
  <GCodeViewer>
    <IsEnabled>true</IsEnabled>
    <ArcResolution>10</ArcResolution>
    <MinDistance>0.05</MinDistance>
    <ToolAutoScale>true</ToolAutoScale>
    <ToolDiameter>3</ToolDiameter>
    <ShowGrid>true</ShowGrid>
    <ShowAxes>true</ShowAxes>
    <ShowBoundingBox>false</ShowBoundingBox>
    <ShowWorkEnvelope>false</ShowWorkEnvelope>
    <ShowViewCube>true</ShowViewCube>
    <ShowTextOverlay>false</ShowTextOverlay>
    <ShowCoordinateSystem>false</ShowCoordinateSystem>
    <RenderExecuted>false</RenderExecuted>
    <BlackBackground>false</BlackBackground>
    <CutMotionColor>
      <A>255</A>
      <R>0</R>
      <G>0</G>
      <B>0</B>
      <ScA>1</ScA>
      <ScR>0</ScR>
      <ScG>0</ScG>
      <ScB>0</ScB>
    </CutMotionColor>
    <RapidMotionColor>
      <A>255</A>
      <R>255</R>
      <G>182</G>
      <B>193</B>
      <ScA>1</ScA>
      <ScR>1</ScR>
      <ScG>0.4677838</ScG>
      <ScB>0.5332764</ScB>
    </RapidMotionColor>
    <RetractMotionColor>
      <A>255</A>
      <R>0</R>
      <G>128</G>
      <B>0</B>
      <ScA>1</ScA>
      <ScR>0</ScR>
      <ScG>0.2158605</ScG>
      <ScB>0</ScB>
    </RetractMotionColor>
    <ToolOriginColor>
      <A>255</A>
      <R>0</R>
      <G>128</G>
      <B>0</B>
      <ScA>1</ScA>
      <ScR>0</ScR>
      <ScG>0.2158605</ScG>
      <ScB>0</ScB>
    </ToolOriginColor>
    <GridColor>
      <A>255</A>
      <R>128</R>
      <G>128</G>
      <B>128</B>
      <ScA>1</ScA>
      <ScR>0.2158605</ScR>
      <ScG>0.2158605</ScG>
      <ScB>0.2158605</ScB>
    </GridColor>
    <HighlightColor>
      <A>255</A>
      <R>220</R>
      <G>20</G>
      <B>60</B>
      <ScA>1</ScA>
      <ScR>0.7156935</ScR>
      <ScG>0.00699541</ScG>
      <ScB>0.045186203</ScB>
    </HighlightColor>
    <ViewMode>-1</ViewMode>
    <ToolVisualizer>1</ToolVisualizer>
    <CameraPosition>
      <X>0</X>
      <Y>0</Y>
      <Z>0</Z>
    </CameraPosition>
    <CameraLookDirection>
      <X>0</X>
      <Y>0</Y>
      <Z>0</Z>
    </CameraLookDirection>
    <CameraUpDirection>
      <X>0</X>
      <Y>0</Y>
      <Z>0</Z>
    </CameraUpDirection>
  </GCodeViewer>
  <Probing>
    <CheckProbeStatus>true</CheckProbeStatus>
    <ValidateProbeConnected>false</ValidateProbeConnected>
  </Probing>
</Config>